#home {color: white;}

.centralizando {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 85vh; 
    text-align: center;
}
.caixa {
    border-radius: 30px;
}

.sombra {
    box-shadow: 15px 15px 10px gray;
}
